@{
    ViewData["Title"] = "Bem-vindo";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <h1 style="font-size: 3em; font-weight: bold;">
        Bem-vindo ao Gestor de Clientes da RSGymPt!
    </h1>
</div>
